RewriteEngine On

RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L]

# Redirect any api.<url>/<endpoint> to the /pages/ApiEntry.php file with the appropriate end point argument
RewriteCond %{HTTP_HOST} ^api\.(.*)$
RewriteCond %{REQUEST_URI} !^/pages/
RewriteCond %{REQUEST_URI} ^\/([\w|-][^\/]+)$
RewriteRule ^(.*)$ /pages/ApiEntry.php?endpoint=$1 [QSA,L]

#  Redirect any api.<url>/<endpoint>/<unique identifier> /pages/ApiEntry.php file with the appropriate end point argument
RewriteCond %{HTTP_HOST} ^api\.(.*)$
RewriteCond %{REQUEST_URI} !^/pages/
RewriteRule ^([^\/]+)/([^\/]+)$ /pages/ApiEntry.php?endpoint=$1&uid=$2 [L]

# Redirection of pages
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^/?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^signup?$ /pages/SignUp.php [NC,L]
RewriteRule ^logout?$ /pages/Logout.php [NC,L]
RewriteRule ^login?$ /pages/Login.php [NC,L]
RewriteRule ^terms-of-service?$ /pages/TermsOfService.php [NC,L]
RewriteRule ^privacy-policy?$ /pages/PrivacyPolicy.php [NC,L]
# Redirection of React pages
RewriteRule ^account$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^appointment/([0-9]+)?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^appointment-setup?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^apply?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^portfolio/([A-Za-z0-9\-\_]+)?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^asap-makeover?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^browse-artists?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^profile/([A-Za-z0-9\-\_]+)?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^consultation/([0-9]+)?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^future-appointment?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^instant-consultation?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^notifications?$ /pages/TheMakeupApp.php [NC,L]
RewriteRule ^schedule?$ /pages/TheMakeupApp.php [NC,L]
