.artist-application-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.application-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.application-section > h1 {
    text-decoration: underline;
}

/* Smallest devices (phones, Below 600px) */
@media only screen and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .artist-application-container {
        max-width: 792px;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .artist-application-container {
        max-width: 1000px;
        margin: auto;
    }
}