.error-list {
    display: flex;
    flex-direction: column;
}

.error, .success, .warning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

.error {
    background-color: lightpink;
    border: 1px solid red;
}

.success {
    background-color: lightgreen;
    border: 1px solid green;
}

.warning {
    background-color: lightgoldenrodyellow;
    border: 1px solid yellow;
}

.dismiss-error {
    font-size: 24px;
}

.dismiss-error:hover {
    cursor: pointer;
}