.form-info-actions {
    display: flex;
    flex-direction: row;
}

.form-info-action {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.form-info-action-spacer {
    flex: 1;
}

.form-info-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    padding: 10px;
    border-radius: 15px;
    color: #FFF;
    margin: 5px 0px;
}

.form-info-block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px;
}

.form-info-block > div {
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-info-block:nth-child(1) > div {
    background-color: #FFE3CC;
}

.form-info-block:nth-child(2) > div {
    background-color: #F2CFB3;
}

.form-info-block:nth-child(3) > div {
    background-color: #E5BB99;
}

.form-info-block:nth-child(4) > div {
    background-color: #D9A880;
}

.form-info-block:nth-child(5) > div {
    background-color: #CC9466;
}

.form-info-block:nth-child(6) > div {
    background-color: #Bf804C;
}

.form-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 5px; 
}

.form-info-row:nth-child(even) {
    background-color: #FFE3CC;
}

.form-info-row:nth-child(odd) {
    background-color: #F2CFB3;
}

.form-submit-button {
    display: flex;
    flex-direction: column;
}