.notifications-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notifications-container > h6 {
    text-align: center;
}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    padding: 5px;
    border-radius: 15px;
    color: #FFF;
    margin-bottom: 5px;
}

.alert-notification, .task-notification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    border-radius: 15px;
}

.alert-notification > a, .task-notification > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 15px;
}

.alert-notification > a > h5, .alert-notification > a > h5 {
    padding: 0px 10px;
}

.alert-notification > a {
    background-color: skyblue;
    color: #000;
}

.alert-notification > a:hover {
    background-color: royalblue;
    color: white;
}

.task-notification > a {
    background-color: tomato;
    color: #000;
}

.task-notification > a:hover {
    background-color: orangered;
    color: white;
}

.unknown-notification > a {
    background-color: rgb(255, 255, 91);
    color: #000;
}

.unknown-notification > a:hover {
    background-color: yellow;
    color: white;
}

.notification-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.notification-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-badge {
    background-color: deeppink;
    color: #FFF;
    padding: 0px 5px;
}

.info-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: skyblue;
    border: 2px solid royalblue;
    border-radius: 15px;
    margin: 5px 0px;
}

.info-block > h6 {
    flex: 1;
    margin-left: 10px;
}

/* Smallest devices (phones, Below 600px) */
@media only screen and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .notifications-container {
        max-width: 792px;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .notifications-container {
        max-width: 1000px;
        margin: auto;
    }
}