.artist-portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-portfolio-actions {
    display: flex;
    flex-direction: row;
}

.artist-portfolio-action {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.artist-portfolio-action-spacer {
    flex: 1;
}

.artist-portfolio-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    padding: 10px;
    border-radius: 15px;
    color: #FFF;
    margin: 5px 0px;
}

.artist-portfolio-display.input-input:nth-of-type(2) {
    flex: 1;
}

.artist-portfolio-biography {
    flex: 1;
    padding: 0px 20px;
}

/* Smallest devices (phones, Below 600px) */
@media only screen and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .artist-portfolio-display {
        flex-direction: row;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .artist-portfolio-container {
        max-width: 792px;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .artist-portfolio-container {
        max-width: 1000px;
        margin: auto;
    }
}