.artist-portfolio-pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-picture {
    margin: 5px;
    border: 1px solid #999;
}

.portfolio-picture > img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 150px;
    height: 150px;
}

.portfolio-picture:hover {
    cursor: pointer;
}

.add-portfolio-picture-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.add-portfolio-picture-button > button {
    border-radius: 50%;
    width: 55px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 4px;
    height: 55px;
}

.add-artist-portfolio-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view-artist-portfolio-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view-artist-portfolio-image > img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.view-artist-portfolio-image > h6 {
    text-align: center;
}

.no-portfolio-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: #777;
    padding: 50px;
}

.no-portfolio-pictures > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
