body {
    margin: 0;
    background: #222;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin: 0px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    margin: 0px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    margin: 0px;
    font-weight: bolder;
}

h4 {
    font-size: 24px;
    margin: 0px;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    margin: 0px;
    font-weight: bolder;
}

h6 {
    font-size: 16px;
    margin: 0px;
    font-weight: normal;
}

.page-content {
    background: #EEE;
    padding: 10px;
}

.page-loading {
    padding-top: 100px;
}

input[type=submit], input[type=file] {
    width: 100%;
    background-color: deeppink;
    color: #FFF;
    height: 45px;
    border: 1px solid #555;
    font-size: 14px;
    font-weight: bolder;
}

input[type=submit]:hover, input[type=file]:hover {
    background-color: mediumvioletred;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.invalid-input {
    background-color: lightpink;
    border-color: red;
}

a {
    color: deeppink;
}

.hidden {
    display: none !important;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
    text-align: center;
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
}

.none-message {
    text-align: center;
    font-style: italic;
    color: #CCC;
}

.online-banner {
    background-color: limegreen;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.online-symbol {
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 white;
    animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 limegreen
    }
    50% {
        -webkit-box-shadow: 0 0 0 1px white;
    }
    100% {
        -webkit-box-shadow: 0 0 0 2px limegreen;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 limegreen;
      box-shadow: 0 0 0 0 limegreen;
    }
    50% {
        -moz-box-shadow: 0 0 0 1px white;
        box-shadow: 0 0 0 1px white;
    }
    100% {
        -moz-box-shadow: 0 0 0 2px limegreen;
        box-shadow: 0 0 0 2px limegreen;
    }
  }

/* Smallest devices (phones, Below 600px) */
@media only screen and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .page-container {
        max-width: 792px;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .page-container {
        max-width: 1000px;
        margin: auto;
    }
}