.enabled-button, .disabled-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 45px;
    border: 1px solid #555;
    font-size: 14px;
    font-weight: bolder;
}

.enabled-button {
    background-color: deeppink;
}

.enabled-button:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}

.disabled-button {
    background-color: lightgray;
}
