/* Derived from: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-hidden {
    display: none;
}

.modal-header {
    background-color: darkgray;
}

.modal {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid darkslategray;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.modal-content {
    padding: 10px;
}

.close-button {
    color: darkslategrey;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 2px 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    background-color: darkslategray;
    text-decoration: none;
    cursor: pointer;
}

/* Smallest devices (phones, Below 600px) */
@media only screen and (max-width: 599px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .modal {
        width: 80%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal {
        width: 70%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal {
        width: 60%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .modal {
        width: 50%
    }
}