.pagination-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.prev-button, .next-button {
    flex: 1;
    padding: 5px;
}

.page-display {
    flex: 2;
    text-align: center;
    padding: 10px 5px;
}